@import url(https://fonts.google.com/specimen/Abel);
* {
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

/*Base*/
body {
    max-width: 1440px;
    background-image: linear-gradient(rgb(8, 8, 24), rgb(8, 8, 24)),url(../img/fondo.png);
    background-repeat: no-repeat, repeat;
    background-size: 95% 100%, auto;
    background-position: center, center;
    color: aliceblue;
    text-align: center;
}

/*Líneas*/
hr {
    width: 95%;
    margin-top: 5%;
    border: none;
    height: 10%;
    color: aliceblue;
    border-style: dashed;
}

#linea1 {
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    height: 10%;
    color: aliceblue;
    border-style: dashed;
}

/*Títulos*/
h1 { 
    font-size: 2rem;
    margin-left: 2%;
    width: 96%;
    text-align: center;
    padding: 2%;
    background-image: linear-gradient(rgba(7, 7, 190, 0.904), rgba(33, 80, 233, 0.849), rgba(85, 173, 255, 0));
} 

h2 , h3 , h4 , h5 { 
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    padding: 2%;
    background-image: linear-gradient(rgba(7, 7, 190, 0.904), rgba(33, 80, 233, 0.849), rgba(85, 173, 255, 0));
}

/*Imagenes*/
.obras , #imagenobras {
    display: flex;
}

.obras figcaption , #imagenobras figcaption {
    align-items: center;
    margin-top: 15%;
    margin-left: 1%;
}

figure {
    margin-top: 3%;
}

/*Extra*/
p , ol { 
    font-size: 1rem;
}

ul {
    font-size: 2rem;
}

span{
    text-decoration: double;
    color: rgb(166, 213, 255);
}

ol {
    font-size: 1.5rem;
    list-style: none;
    width: fit-content;
    margin-left: 38%;
    padding: 2%;
    background-color: rgb(60, 80, 167);
    color: rgb(1, 1, 17);
}
div { 
    margin-left: 5%;
    width: 90%;
    text-align: center;
    padding: 2%;
    background-color: rgb(60, 80, 167);
    color: rgb(1, 1, 17);
}

#video {
    margin-top: 10%;
}

section iframe {
    border-color: rgb(21, 33, 139);
}

/*Lista de obras*/
ol li a { 
    color: rgb(21, 33, 139);
    text-decoration: none;
}

ol li a:visited {
    color: rgb(1, 1, 17);
}
ol li a:hover {
    color: rgb(87, 127, 236);
    text-decoration: underline;
}

ol li a:active {
    color: blue;
    text-decoration: underline;
}

/*Navegador*/
nav { 
    font-size: 2rem;
    text-align: center;
    margin-left: 5%;
}
nav ul:first-child {
    margin-right: 3%;
}

nav li { 
    list-style: inside;
    margin-right: 10%;
    display: inline-block;
    padding: 1%;
    background-color: rgba(0, 14, 92, 0.9);
}

nav li a { 
    color: rgb(21, 33, 139);
    text-decoration: none;
}

nav li a:visited {
    color: rgb(1, 1, 17);
}
nav li a:hover {
    color: rgb(87, 127, 236);
    text-decoration: underline;
}

nav li a:active {
    color: blue;
    text-decoration: underline;
}

/*Footer*/
footer { 
    margin-top: 5%;
    font-size: 2rem;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    padding: 2%;
    background-image: linear-gradient(rgba(7, 7, 190, 0.904), rgba(33, 80, 233, 0.849), rgba(85, 173, 255, 0));
    color: rgb(1, 1, 17);
}

footer address a {
    color: rgb(1, 1, 17);
    text-decoration: none;
}

footer address a:hover {
    color: rgb(204, 209, 255);
    text-decoration: underline;
}

footer address a:active {
    color: rgb(4, 19, 151);
    text-decoration: underline;
}